# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured data that is stored and accessed electronically. It is designed to efficiently manage and manipulate large amounts of information. Databases provide a way to store, retrieve, update, and analyze data, making them crucial components in various applications and systems.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems (DBMS) that differ in their data models, storage mechanisms, query languages, and use cases. Here's a brief differentiation between the two:

### SQL Databases:

1.Structure: SQL databases use a structured data model that defines the data schema before data entry. They have a predefined schema that enforces the structure and relationships of the data.
2.Data Representation: SQL databases use tables to store data, where each table consists of rows and columns. The relationships between tables are established through keys (primary and foreign keys).
3.Query Language: SQL databases use SQL as their standard query language, which is a declarative language for managing and querying data. It provides a standardized way to retrieve, manipulate, and update data.
4.ACID Compliance: SQL databases typically follow the ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data integrity and reliability.
5.Use Cases: SQL databases are commonly used for applications that require complex queries, structured and relational data, and transactions. They are suitable for scenarios such as banking systems, e-commerce platforms, and content management systems.

### NoSQL Databases:

1.Structure: NoSQL databases use a flexible and dynamic data model that allows for schema-less data. They do not enforce a predefined schema, providing more flexibility in data storage.
2.Data Representation: NoSQL databases use various data representations like key-value pairs, documents, columnar, or graph-based models, depending on the specific database type (e.g., key-value store, document store, columnar store, graph database).
3.Query Language: NoSQL databases may use different query languages specific to their data model. Some NoSQL databases provide a query language similar to SQL, while others may offer a more specialized interface.
4.Scalability and Performance: NoSQL databases are designed to scale horizontally, meaning they can handle large amounts of data across distributed systems. They prioritize scalability and performance over strict data consistency.
5.Use Cases: NoSQL databases are commonly used for applications that require high scalability, rapid development, and handling unstructured or semi-structured data. They are often used in real-time analytics, content management systems, IoT applications, and social networks.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, views, indexes, and constraints. 

#### CREATE:
The CREATE statement is used to create new database objects, such as tables, indexes, views, or stored procedures. It specifies the structure, attributes, and properties of the object being created For example, to create a table named "Customers" with columns for ID, name, and email, we can use the following SQL statement:

CREATE TABLE Customers (ID INT , Name VARCHAR(50),Email VARCHAR(50));

#### DROP:
The DROP statement is used to remove or delete existing database objects.  It permanently deletes the object and its associated data.For example, to delete the previously created "Customers" table, we can use the following SQL statement:

DROP TABLE Customers;

#### ALTER:
The ALTER statement is used to modify the structure of an existing database object, such as adding or removing columns, modifying column data types, or renaming objects. For example, to add a new column "Phone" to the "Customers" table, we can use the ALTER TABLE statement:

ALTER TABLE Customers
ADD Phone VARCHAR(20);

#### TRUNCATE:
The TRUNCATE statement is used to remove all the data from a table while keeping its structure intact. It is faster and more efficient than the DELETE statement for removing all records from a table. For example, to remove all the data from the "Customers" table, we can use the TRUNCATE TABLE statement:

TRUNCATE TABLE Customers;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate and work with the data stored in a database. DML statements are used to perform operations such as inserting, updating, deleting, and retrieving data from database tables. DML is responsible for manipulating the actual data within the database.

#### INSERT:
The INSERT statement is used to add new data into a table. It allows us to specify the values to be inserted into specific columns of a table. For example, to insert a new record into a table called "Customers" with values for ID, name, and email, we can use the following SQL statement:

INSERT INTO Customers (ID, Name, Email)
VALUES (1, 'Adarsh', 'adarsh@ada.com');

#### UPDATE:
The UPDATE statement is used to modify existing data in a table. It allows us to change the values of specific columns in one or more records based on specified conditions. For example, to update the email of a customer with ID 1 in the "Customers" table, we canuse the following SQL statement:

UPDATE Customers
SET Email = 'adarsh@ada.com'
WHERE ID = 1;

#### DELETE:
The DELETE statement is used to remove one or more records from a table based on specified conditions. It allows us to delete specific rows or all rows in a table. For example, to delete a customer with ID 1 from the "Customers" table, we can use the following SQL statement:

DELETE FROM Customers
WHERE ID = 1;

# Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve and query data from a database. DQL focuses on querying and retrieving data rather than manipulating it. The primary DQL statement is SELECT, which is used to retrieve specific data from one or more database tables based on specified criteria.

##### SELECT Statement:
The SELECT statement is used to retrieve data from one or more tables in a database. It allows us to specify the columns we want to retrieve, the tables from which we want to retrieve the data, and any conditions to filter the data. The basic syntax of the SELECT statement is as follows:

###### SELECT column1, column2,
###### FROM table_name
###### WHERE condition;

##### Example:
Suppose we have a table named "Employees" with columns for ID, Name, Department, and Salary. To retrieve the names of all employees who belong to the "Sales" department, can use the following SQL statement:

###### SELECT Name
###### FROM Employees
###### WHERE Department = 'Sales';

Above statement retrieves the "Name" column from the "Employees" table where the "Department" column has a value of 'Sales'. The result would be a list of employee names who belong to the Sales department.

# Q5. Explain Primary Key and Foreign Key.

In SQL, both primary keys and foreign keys are used to establish relationships between tables in a relational database. They ensure data integrity and enforce referential integrity. Here's an explanation of primary keys and foreign keys:

##### Primary Key:
A primary key is a column or a combination of columns that uniquely identifies each record in a table. It serves as a unique identifier for the records in the table and ensures that each row has a distinct identity. The primary key must have the following characteristics:

1. Uniqueness: Each value in the primary key column(s) must be unique, meaning no two records in the table can have the same primary key value.
2. Non-nullability: The primary key column(s) cannot contain null values, ensuring that every record has a valid identifier.
3. Immutability: The primary key values should remain constant and not change over time.

By defining a primary key for a table, we can enforce entity integrity, prevent duplicate records, and establish relationships with other tables.

##### Foreign Key:
A foreign key is a column or a combination of columns in a table that refers to the primary key of another table. It establishes a link or relationship between two tables based on the values in the related columns. The foreign key represents a constraint that maintains referential integrity between the tables. The key points about foreign keys are:

1. Referential Integrity: The foreign key ensures that the values in the referencing table's column(s) correspond to an existing value in the referenced table's primary key column(s).
2. Relationship: The foreign key represents a relationship between two tables, typically indicating a one-to-many or many-to-many relationship.
3. Cascading Actions: Foreign keys can define cascading actions, such as cascading updates or deletes, to maintain data integrity across the related tables.

Here's an example to illustrate the usage of primary and foreign keys:

Consider two tables, "Orders" and "Customers." The "Orders" table has a primary key called "OrderID," while the "Customers" table has a primary key called "CustomerID." The "Orders" table also has a foreign key called "CustomerID" that references the "CustomerID" column in the "Customers" table. This foreign key establishes a relationship between the two tables, indicating that each order in the "Orders" table is associated with a specific customer from the "Customers" table.

By using the foreign key constraint, we can ensure that every value in the "CustomerID" column of the "Orders" table corresponds to a valid "CustomerID" value in the "Customers" table. This maintains data integrity and allows us to retrieve information from both tables based on their relationship.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

##### Establishing the connection
    mydb = mysql.connector.connect(
      host="localhost",
      user="abc",
      password="password"
    )
    print(mydb)

##### Creating a cursor object
    mycursor = mydb.cursor()

##### Executing SQL queries
    mycursor.execute("select * from test3.tb3 ")

##### Fetching  and displaying the result
    for i in mycursor.fetchall():
        print (i)
    
##### Closing the cursor and the database connection
    cursor.close()
    mydb.close()

##### cursor(): 
The cursor() method is used to create a cursor object, which allows us to execute SQL queries and fetch the results. The cursor acts as a control structure that enables us to interact with the database.

##### execute():
The execute() method is used to execute SQL queries or statements. It takes an SQL query as a parameter and executes it on the MySQL server.

# Q7. Give the order of execution of SQL clauses in an SQL query.

In SQL, an SQL query typically follows a specific order of execution for its clauses. The general order of execution is as follows:

1. FROM: The FROM clause specifies the table or tables from which the data is being retrieved. It identifies the source tables involved in the query.

2. WHERE: The WHERE clause filters the data based on specific conditions. It allows you to specify criteria to narrow down the result set by selecting only the rows that meet the specified conditions.

3. GROUP BY: The GROUP BY clause is used to group rows with similar values together based on one or more columns. It is often used in combination with aggregate functions like COUNT, SUM, AVG, etc., to perform calculations on the grouped data.

4. HAVING: The HAVING clause filters the grouped data based on specific conditions. It is similar to the WHERE clause but is used with aggregate functions and operates on the grouped data.

5. SELECT: The SELECT clause is used to specify the columns or expressions to be included in the result set. It determines which columns will be retrieved from the tables.

6. DISTINCT: The DISTINCT keyword is used to eliminate duplicate rows from the result set.

7. ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns. It allows you to specify the order (ascending or descending) in which the rows should be returned.

8. LIMIT/OFFSET: The LIMIT and OFFSET clauses are used to control the number of rows returned by the query. LIMIT specifies the maximum number of rows to be returned, while OFFSET specifies the number of rows to skip before starting to return rows.