# Q1. List any five functions of the pandas library with execution.

##### head() and tail():
1. head(): Returns the first n rows of the DataFrame (default n=5).
2. tail(): Returns the last n rows of the DataFrame (default n=5).

In [1]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Age': [25, 30, 22, 28, 35, 40, 32]}

df = pd.DataFrame(data)

print("First 3 rows:")
print(df.head(3))

print("\nLast 2 rows:")
print(df.tail(2))

First 3 rows:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22

Last 2 rows:
    Name  Age
5  Frank   40
6  Grace   32

##### describe():
Generates descriptive statistics of the DataFrame, providing information like mean, median, minimum, maximum, and quartiles for numeric columns.

In [2]:
data = {'Age': [25, 30, 22, 28, 35, 40, 32]}

df = pd.DataFrame(data)

print(df.describe())

             Age
count   7.000000
mean   30.285714
std     6.074929
min    22.000000
25%    26.500000
50%    30.000000
75%    33.500000
max    40.000000

##### fillna(): This function is used to fill missing values in a DataFrame with a specified value.

In [3]:
data = {
    'A': [1, None, 3],
    'B': [4, 5, None],
    'C': [None, 8, 9]
}
df = pd.DataFrame(data)
df = df.fillna(0) 
print(df)

     A    B    C
0  1.0  4.0  0.0
1  0.0  5.0  8.0
2  3.0  0.0  9.0

##### drop(): This function is used to remove rows or columns from a DataFrame.

In [4]:
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data)
df = df.drop(columns=['C'])
print(df)

   A  B
0  1  4
1  2  5
2  3  6

# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [5]:
data = {'A': ['Alice','Bob','Claire','Karan'],
        'B': [25, 30, 27,35],
        'C': ['Female', 'Male', 'Female','Male']}

df= pd.DataFrame(data)
df.index=[i for i in range(1,len(df)*2,2)]
df

        A   B       C
1   Alice  25  Female
3     Bob  30    Male
5  Claire  27  Female
7   Karan  35    Male

# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

## For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [6]:
import pandas as pd
data=[10, 20, 30, 40, 50]
df=pd.DataFrame(data, columns=['Values'])

def first_three(df):
    x= df.iloc[:3].sum()
    return x

sum_of_first_three=  first_three(df)

In [7]:
sum_of_first_three

Values    60
dtype: int64

# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [8]:
data= (['My name is Adarsh'],
       ['I read in class 9th standard in Delhi'],
       [' I am a self-driven and self motivated student'])

df=pd.DataFrame(data,columns=['Text'])

def count(df):
    df['Word_count']= df['Text'].str.count(' ')+1
    return df

word = count(df)
word

                                             Text  Word_count
0                               My name is Adarsh           4
1           I read in class 9th standard in Delhi           8
2   I am a self-driven and self motivated student           9

# Q5. How are DataFrame.size() and DataFrame.shape() different?

Both DataFrame.size and DataFrame.shape are attributes in the pandas library used to get information about the DataFrame, but they provide different kinds of information:

##### DataFrame.size:
1. DataFrame.size returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns.
2. It represents the total number of cells in the DataFrame, including both actual data and potential missing values (NaNs).
3. The attribute returns a single integer value.

##### DataFrame.shape:
1. DataFrame.shape returns a tuple representing the dimensions of the DataFrame.
2. The tuple contains two values: the number of rows (first value) and the number of columns (second value).
3. It provides the actual structure of the DataFrame, which is useful for understanding its layout and dimensions.
4. The attribute returns a tuple in the form of (number_of_rows, number_of_columns).

#### simple example:

In [9]:
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data)

In [10]:
df.size

9

In [11]:
df.shape

(3, 3)

# Q6. Which function of pandas do we use to read an excel file?

#### To read an Excel file in pandas, we can use the pandas.read_excel() function. This function allows us to read data from an Excel file and create a pandas DataFrame. It is a versatile function that supports various options for reading data from different types of Excel files.

# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

# The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [12]:
data =(['ada@gmail.com'],
       ['ada1@gmail.com'],
       ['ada2@gmail.com'],
       ['ada3@gmail.com'])

df= pd.DataFrame(data,columns=['Email'])

def username(df):
    df['Username']= df['Email'].str.split('@').str[0]
    return df

username= username(df)
username

            Email Username
0   ada@gmail.com      ada
1  ada1@gmail.com     ada1
2  ada2@gmail.com     ada2
3  ada3@gmail.com     ada3

# Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

In [13]:
data=([3,5,1],
      [8,2,7],
      [6,9,4],
      [2,3,5],
      [9,1,2])

df=pd.DataFrame(data,columns=['A','B','C'])

def new_frame(df):
    x=df.loc[(df['A']>5) & (df['B']<10)]
    return x

frame=new_frame(df)
frame

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,median, and standard deviation of the values in the 'Values' column.

In [14]:
data =[i for i in range(10,101,10)]
df= pd.DataFrame(data, columns=['Values'])
def calculate(df):
    mean=df.mean()
    median=df.median()
    std=df.std()
    return mean,median,std

result= calculate(df)

print("The mean of",result[0])
print("The median  of",result[1])
print("The standard deviation of",result[2])

The mean of Values    55.0
dtype: float64
The median  of Values    55.0
dtype: float64
The standard deviation of Values    30.276504
dtype: float64

# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [15]:
Data ={'Date':['08-07-2023', '31-07-2023', '02-07-2023', '26-07-2023', '15-07-2023', '10-07-2023', '13-07-2023', '25-07-2023', '28-07-2023', '01-07-2023', '04-07-2023', '18-07-2023', '21-07-2023', '14-07-2023', '06-07-2023'],
       'Sales':[720, 897, 334, 888, 534, 498, 477, 595, 956, 570, 986, 328, 922, 910, 825]}
df = pd.DataFrame(Data)

def moving_average(df):
    df = df.sort_values('Date')
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

moving_average= moving_average(df)
moving_average

          Date  Sales  MovingAverage
9   01-07-2023    570     570.000000
2   02-07-2023    334     452.000000
10  04-07-2023    986     630.000000
14  06-07-2023    825     678.750000
0   08-07-2023    720     687.000000
5   10-07-2023    498     655.500000
6   13-07-2023    477     630.000000
13  14-07-2023    910     678.571429
4   15-07-2023    534     707.142857
11  18-07-2023    328     613.142857
12  21-07-2023    922     627.000000
7   25-07-2023    595     609.142857
3   26-07-2023    888     664.857143
8   28-07-2023    956     733.285714
1   31-07-2023    897     731.428571

# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

In [16]:
Data ={'Date':['08-07-2023', '31-07-2023', '02-07-2023', '26-07-2023', '15-07-2023', '10-07-2023', '13-07-2023', '25-07-2023', '28-07-2023', '01-07-2023', '04-07-2023', '18-07-2023', '21-07-2023', '14-07-2023', '06-07-2023']}
df= pd.DataFrame(Data)

def Weekday(df):
    df = df.sort_values('Date')
    df['Date']= pd.to_datetime(df['Date'],dayfirst = True)
    df['Weekday']=df['Date'].dt.day_name()
    return df

weekday= Weekday(df)
weekday

         Date    Weekday
9  2023-07-01   Saturday
2  2023-07-02     Sunday
10 2023-07-04    Tuesday
14 2023-07-06   Thursday
0  2023-07-08   Saturday
5  2023-07-10     Monday
6  2023-07-13   Thursday
13 2023-07-14     Friday
4  2023-07-15   Saturday
11 2023-07-18    Tuesday
12 2023-07-21     Friday
7  2023-07-25    Tuesday
3  2023-07-26  Wednesday
8  2023-07-28     Friday
1  2023-07-31     Monday

# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [17]:
Data={'Date':['2023-02-01', '2023-01-28', '2023-01-21', '2023-02-05', '2023-01-14', '2023-02-09', '2023-01-09', '2023-02-15', '2023-01-02', '2023-01-12', '2023-01-20', '2023-01-12', '2023-02-21', '2023-01-27', '2023-02-01']}
df=pd.DataFrame(Data)

def new_frame(df):
    df = df.sort_values('Date')
    x=df.loc[(df['Date']> '2023-01-01') & (df['Date']<'2023-01-31')]
    return x

sorted_date=new_frame(df)
sorted_date

          Date
8   2023-01-02
6   2023-01-09
9   2023-01-12
11  2023-01-12
4   2023-01-14
10  2023-01-20
2   2023-01-21
13  2023-01-27
1   2023-01-28

# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

#### The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself.

#### In Python, we need to import the pandas library to access all the data structures and functionalities it provides, including DataFrame, Series, reading/writing data, data manipulation, and analysis. The common convention is to import pandas with the alias pd for brevity and ease of use.


### import pandas as pd